header(class="w-full h-12")
    img(class="w-1/12 fixed top-1 left-1", src="./images/menu.png", alt="menu", id="menuBtn")
    div(class="z-50 absolute grid grid-cols-2 top-0 h-screen w-full hidden" id="menu")
        nav(class="h-screen w-full bg-slate-800" id="menuChildren")
            div(class="flex flex-col items-center")
                ul(class="w-3/4 h-full text-xl text-cyan-100")
                    li
                        img(class="w-1/12 mt-5 mb-5", src="./images/close.png", alt="close", id="closeBtn")
                    li(class="m-3")
                        a(href="/") Inicio
                    li(class="m-3")
                        a(href="/inventory") Inventario
                    li(class="m-3")
                        a(href="/logout") Cerrar sesión
        include ./menuBackground.pug