doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/styles.css")
        title Inicio
    body
        main(class="w-full h-screen flex flex-col justify-center items-center")
            header(class="flex flex-col justify-evenly items-center h-full")
                h1(class="text-center w-3/4 text-cyan-100 text-3xl font-bold") Bienvenido a tu administrador de articulos
                nav(class="w-full h-1/2")
                    ul(class="w-full flex flex-col justify-around items-center h-full text-cyan-100")
                        li(class="bg-emerald-500 w-1/2 h-1/2 m-2 flex flex-col justify-center items-center p-5 text-center rounded-2xl")
                            a(class="flex flex-col-reverse justify-center items-center", href="/inventory") Administrar tu inventario
                                img(class="w-2/4 object-cover ", src="./images/items.png", alt="items")
                        li(class="bg-emerald-500 w-1/2 h-1/2 m-2 flex flex-col justify-center items-center p-5 text-center rounded-2xl")
                            a(class="flex flex-col-reverse justify-center items-center", href="/store") Vender tus productos
                                img(class="w-2/4 object-cover", src="./images/store.png", alt="store")