doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./styles/styles.css")
        title Store
    body
        include header.pug
        main(class="w-full h-screen flex flex-col-reverse items-center p-5")
            div(id="storeContainer", class="h-full w-full min-h-[24rem]")
                table(class="w-full")
                    thead(class="w-full")
                        tr(class="w-full h-4 gap-1 text-sm")
                            th(class="") Nombre
                            th Unidad
                            th Precio
                            th Cantidad
                            //- Precio por la cantidad
                            th(class="w-1/4") Total del producto
                    tbody(id="bodyTableStore")
                        //- Aqui se agregan los productos
                div 
                    button(id="buttonShop" ,
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center") Comprar
            div(id="searchItem", class="h-full")
                form(action="/api/items", method="get")
                    label(class="") Buscar por: 
                        select(name="filter", class="m-2 rounded-2xl p-2 text-black" )
                            option(value="name") Nombre
                            option(value="product_key") Clave del producto
                    input(class="m-2 rounded-2xl p-2 text-black", type="text", name="value", placeholder="Valor")
                    button(class="m-2 rounded-2xl p-2 text-black bg-emerald-500 portatil:hidden", 
                            type="submit") Buscar
    script(src="./scripts/store.js", type="module") 
    script(src="./scripts/pakage/menuAnimated.js")
